body {
    display: flex;
    flex-direction: column;
    background: url("./img/undraw_doctors_hwty.svg") fixed center no-repeat;
    background-size: 400px;
    
}
a{
    text-decoration: none;
    color: inherit;
}
svg{
    filter: drop-shadow(2px 1px 1px black);
}



.patient {
    background: url("./img/undraw_medicine_b-1-ol.svg") no-repeat fixed center;
    background-size: 400px;

}
.toolbar{
    box-shadow: 2px 4px 100px rgba(1, 1, 88, 0.514);
    min-height: 2rem;
    border-radius: 10px;
    padding: 1px 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}
#connectButton,
#createPatientRecord,
#withDraw,
#finalRecord,
#subscribeAsPatientButton,
#payBill,
input,textarea{
    border:solid 1px rgba(0, 0, 0, 0);
    border-radius: 8px;
    background-color: transparent;
    height: 2.5em;
    text-align: center;
    align-items: center;
}
button{
    box-shadow: 1px 2px 4px black;
}
button:hover{
    border-color: #00ffd9;
}
.choice{

    display: flex;
    align-items: center;
    margin: 28em auto 100px auto;
    
}
#patient, #hospital{
    
    padding: 6px 10px;
    border-radius: 16px;
    border: solid 1px black;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
    margin:0px 2em;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.display{
    margin-top: 240px;
    
}
.dataEntry_dataQuery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    align-items: stretch;
}
.section_a,.section_b,.patient_form{
    box-shadow: 2px 4px 10px rgba(12, 62, 143, 0.335);
    border-radius: 10px;
    padding: 1em;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
    
}
.patient_form{
    margin-top: 200px;
}
#record_card{
    
    color: rgb(12, 62, 143);
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    margin-top: -50px;
    padding: 0px 10px;
    background-color: white;
    border-left: solid 10px #00BFA6; 
    border-right: solid 10px #00BFA6;   
}
#person {
    color: rgb(12, 62, 143);
    background-color: white;
    box-shadow: 2px 4px 100px #0000003a;
    min-height: 8em;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
input{
    border-radius: 10px;
}
